# Must end with /api2/json to use proxmox api
proxmox_url = "https://serverip:8006/api2/json"

# "username@pve!mytoken" mytoken is the name of the token that you 
# gave it during creation
tokenid = "username@pam!tokenid" 

# Token value
terra_token = "aaaaaaaaa-bbb-cccc-dddd-ef0123456789"

# Operating system
Operating_system = "local:iso/name_of_iso.iso"

# Proxmox Server name
pvenode = "pve"

# virtio drivers for windows 
# Just google it, you'll find it!
win_virt_driver = "local:iso/driver_name.iso"

# window iso
win_operating_system = "local:iso/iso_name.iso"
